:host{
  
}
ul{
    
    list-style: inside;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
li{
    display: inline-block;
    padding: 0.5rem 3rem;
    text-align: center;
    margin: auto 0;
    display: flex;
    font-weight: bold;
    
}
img{
     justify-content: flex-end;
}