@import './../../color';

:host {
  background: white;
  display: block;
  nav {
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    .logo {
      color: $primary-color;
      font-weight: bolder;
    }
    .search {
      align-self: center;
      position: relative;
      input {
        font-size: 14px;
        border: none;
        border-bottom: 2px solid;
        line-height: 2rem;
        min-width: 250px;
        outline: none;
        &:focus {
            border-color: $primary-color;
        }
      }
      i {
        font-size: 20px;
        position: absolute;
        right: 8px;
        top: 8px;
      }
    }
  }
}
