<div class="header">
  <div class="avatar">
    <img src="assets/avatar.jpeg" alt="">
  </div>
  <p>quynh@secure.janeto.com <i class="fa fa-sort-down"></i></p>
</div>
<div class="navbar-menu">
  <ul>
    <li class="menu-main"> <i class="fas fa-book-open"></i>  Danh mục sách</li>
    <li>Công nghệ</li>
    <li>Kỹ thuật</li>
    <li>Cơ bản</li>
    <li class="menu-main"> <i class="fas fa-user"></i> Cá nhân</li>
    <li>Thông tin cá nhân</li>
    <li>Tủ sách</li>
    <li>Thông báo</li>
    <li class="menu-main"> <i class="fas fa-cog"></i> Cài đặt</li>

  </ul>
</div>