:host{
    display: flex;
    margin-left: 150px;
    min-height: 300px;
    width: calc(100% - 150px);
    background: linear-gradient(328deg, rgba(219,255,18,1) 0%, rgb(138, 241, 245) 99%, rgba(0,128,128,1) 100%);
}
img{
    margin: 2.5rem 0;
    margin-left: -100px;
    max-height: 430px;
    width: auto;
    height: auto;
    float: left;
}
.content{
    margin: 8rem 8rem;
    flex: 2;
}
button{
    padding: 9px 19px;
    border: none;
    font-size: 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px;
    background: white;
    margin: 10px 40px;;
}
p{
    font-size: 4rem;
    margin: 8px 0px;
}
